<app-stepper [step_current]="2" [step_max]="2"></app-stepper>
<div class="step">
	<div class="user-infos">
		<h2 class="title is-2">
			{{ 'owner.title' | translate }}
		</h2>
		<label for="pseudo">
			{{ 'owner.name_label' | translate }}
		</label>
		<input class="input" type="text" id="pseudo" [(ngModel)]="storageService.vote_stack.pseudo" />
	</div>
	<div class="bottom-step-buttons">
		<div class="contained-in-main-column">
			<button
				class="button is-default pull-left"
				[routerLink]="['/poll/' + pollService._poll.getValue().custom_url + '/consultation/vote']"
			>
				{{ 'SENTENCES.Back' | translate }}
			</button>
			<button
				class="button is-success pull-right"
				(click)="sendVoteStack()"
				[disabled]="!storageService.vote_stack.pseudo"
			>
				{{ 'participation.vote_button' | translate }}
			</button>
		</div>
	</div>
</div>
